.main {
    width: 100%;
    max-width: 800px;
    margin: 4rem;
}

/* GRID */
.widgets {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 250px;
    gap: 30px;
    justify-content: start;
    padding: 1rem;
}

/* Tamaños GRID */

.grid-size-1x1 {
    grid-column: span 1;
    grid-row: span 1;
}

.grid-size-1x2 {
    grid-column: span 1;
    grid-row: span 2;
}

.grid-size-2x1 {
    grid-column: span 2;
    grid-row: span 1;

}

.grid-size-2x2 {
    grid-column: span 2;
    grid-row: span 2;
}

/* Tamaños LIB */

.lib-size-1x1 {
    width: 250px;
    height: 250px;
}

.lib-size-1x2 {
    width: 250px;
    height: 530px;
}

.lib-size-2x1 {
    width: 530px;
    height: 250px;

}

.lib-size-2x2 {
    width: 530px;
    height: 530px;
}
