#config{
    position: fixed;
    top: 0;
    left: -590px;
    width: 590px;
    height: 100vh;
    background: white;
    box-shadow: 4px 0 20px rgba(0,0,0,0.2);
    padding: 1.5rem;
    transition :left 0.3s ease;
    z-index: 1000;
}

#config.open {
    left: 0;
}

.config-btn {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    font-size: 1.5rem;
    background: white;
    border: none;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: left 0.3s ease;
    z-index: 1100;
}


/* MENU */
.select-city {
    background: #f9fafb;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: inset 0 0 0 1px #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.search input {
    flex: 1;
    padding: 0.6rem;
    border-radius: 6px;
    border: 2px solid #acb6e5;
    font-size: 1.2rem;
    min-height: 50px;
}

.search button {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    background: linear-gradient(135deg, #928deb, #4f46e5);
    color: white;
    cursor: pointer;
}

.search button:hover {
    background: #4338ca;
}

#unit {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#unit {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 2px solid #acb6e5;
    font-size: 1.1rem;
    background: white;
    cursor: pointer;
    min-height: 30px;
}

#unit:hover {
    border-color: #4f46e5;
}

#unit:focus {
    outline: none;
    border-color: #4f46e5;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.3);
}

#unit {
    background-image:
        linear-gradient(45deg, transparent 50%, #555 50%),
        linear-gradient(135deg, #555 50%, transparent 50%);
    background-position:
        calc(100% - 18px) calc(50% - 4px),
        calc(100% - 12px) calc(50% - 4px);
    background-size: 6px 6px;
    background-repeat: no-repeat;
    padding-right: 2.5rem;
}

/* AUTOCOMPLETE */
.input-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.suggestions {
    background: linear-gradient(135deg, #cccccc, #acb6e5);
    border-radius: 6px;
    margin-top: 0.25rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.input-wrapper.active {
    max-height: 300px;
}

.input-wrapper.active .suggestions {
    max-height: 200px;
}

.suggestion {
    padding: 0.5rem;
    cursor: pointer;
}

.suggestion:hover {
    background: #f0f0f0;
}

/* LIBRARY */
.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: 250px;
    margin-top: 2rem;
    gap: 30px;
}