* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.size-1x1 {
    grid-column: span 1;
    grid-row: span 1;
}

.size-1x2 {
    grid-column: span 1;
    grid-row: span 2;
}

.size-2x1 {
    grid-column: span 2;
    grid-row: span 1;
}

.size-2x2 {
    grid-column: span 2;
    grid-row: span 2;
}

.size-3x1 {
    grid-column: span 3;
    grid-row: span 1;
}


body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #353636, #acb6e5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: black;
    align-self: center;
}

.app {
    display: grid;
    grid-auto-columns: 250px;
    grid-auto-rows: 250px;
    width: 100%;
    max-width: 800px;
    gap: 1rem;
}

/* TARJETA SELECT CITY */
.select-city {
    background: #f9fafb;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: inset 0 0 0 1px #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.search input {
    flex: 1;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    min-height: 50px;
}

.search button {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    background: linear-gradient(135deg, #928deb, #4f46e5);
    color: white;
    cursor: pointer;
}

.search button:hover {
    background: #4338ca;
}

.result {
    font-size: 1.1rem;
}

/* AUTOCOMPLETE */
.input-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 50px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.suggestions {
    background: linear-gradient(135deg, #cccccc, #acb6e5);
    border-radius: 6px;
    margin-top: 0.25rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
}

.input-wrapper.active {
    max-height: 300px;
}

.input-wrapper.active .suggestions {
    max-height: 200px;
}

.suggestion {
    padding: 0.5rem;
    cursor: pointer;
}

.suggestion:hover {
    background: #f0f0f0;
}

/* TARJETA TEMPERATURA */
.temperature {
    background: white;
    padding: 0.2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.widget {
    background: #f9fafb;
    border-radius: 12px;
    box-shadow: inset 0 0 0 1px #e5e7eb;
    padding: 1rem;
}

.widget .value {
    font-size: 3rem;
    margin: 0.5rem;
    margin-left: 0rem;
    justify-self: left;
}

.emoji {
    font-size: 2rem;
    margin: 0.5rem;
    margin-left: 0rem;
    justify-self: left;
}

.range {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
}
