<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/widgets.css">
    <link rel="stylesheet" href="/static/css/ui.css">

</head>
<body>

    <div class="main">

        <aside id="config">
            <button id="toggle.config" class="config-btn">☰</button>
            
            <div class="select-city">

                <div class="search">
                    <div class="input-wrapper">
                        <input id="city" type="text" placeholder="Ciudad">
                        <div id="suggestions" class="suggestions"></div>
                    </div>
                    <button id="load-weather">Buscar</button>
                </div>

                <select id="unit">
                    <option value="C">Celsius (°C)</option>
                    <option value="F">Fahrenheit (°F)</option>
                </select>
            </div>

            <div id="library">
                {% include 'library.html' %}
            </div>
        </aside>

        <div class="widgets">
            
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>