<div class="library">
    <!-- TEMPERATURA -->
    
    <div class="widget lib-size-1x1" id="temperature" data-live="false">
        <p class="value">--°</p>
        <p class="emoji"></p>
        <p class="range">
            <span class="max">Máx: -- °C</span>
            <span class="min">Mín: -- °C</span>
        </p>
    </div>
    
    <!-- PoP -->
    <div class="widget lib-size-1x1" id="PoP" data-live="false">
        <p class="title">Probabilidad de Precipitación</p>

    </div>

    <div class="widget lib-size-2x1" id="prueba" data-live="false">
        <p>Hola</p>
    </div>
</div>
